<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ .Site.Params.telegram_ru }}">Чат в телеграмм</a></li>
      <li><a href="{{ .Site.Params.github_org }}">GitHub</a></li>
      <li><a href="https://twitter.com/{{ .Site.Params.twitter }}">Twitter</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Примеры</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/about/overview/">О нас</a></li>
    </ul>
    <p>Разработан и построен с любовью в мире <a href="/docs/{{ .Site.Params.docs_version }}/about/team/">командой Bootstrap</a> с помощью <a href="{{ .Site.Params.repo }}/graphs/contributors">наших контрибьюторов</a>.</p>
    <p>Текущая v{{ .Site.Params.current_version }}. Код под лицензией <a href="{{ .Site.Params.repo }}/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, документация <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
    <p>Перевод v{{ .Site.Params.docs_version_ru }}. Перевод документации на <a href="{{ .Site.Params.repo_ru_bootstrap }}" target="_blank">GitHub</a>.</p>
  </div>
</footer>
