---
import { getConfig } from '@libs/config'
import DropletFillIcon from '@components/icons/DropletFillIcon.astro'
import ResponsiveImage from '@layouts/partials/ResponsiveImage.astro'
---

<section class="row g-3 g-md-5 pb-md-5 mb-5 align-items-center">
  <div class="col-lg-6">
    <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bd-violet-rgb);">
      <DropletFillIcon height={32} width={32} />
    </div>
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Сделайте его своим с официальными темами Bootstrap</h2>
    <p class="lead fw-normal">
      Выведите Bootstrap на новый уровень с премиум-темами из <a href={getConfig().themes}>официального маркетплейса тем Bootstrap</a>.
      Темы построены на Bootstrap как собственные расширенные фреймворки, богатые новыми компонентами и плагинами, документацией и мощными инструментами сборки.
    </p>
    <p class="d-flex lead fw-normal mb-md-0">
      <a href={getConfig().themes} class="icon-link icon-link-hover fw-semibold">
        Просмотреть темы Bootstrap
        <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
      </a>
    </p>
  </div>
  <div class="col-lg-6">
    <ResponsiveImage
      imgPath="/assets/img/bootstrap-themes.png"
      alt="Bootstrap Themes"
      width={700}
      height={500}
      classes="d-block mt-3"
    />
  </div>
</section>
