<section class="pb-md-5 mb-5">
  <div class="col-lg-8 mb-5">
    <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bs-warning-rgb);">
      <svg class="bi fs-1"><use xlink:href="#plugin"></use></svg>
    </div>
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Мощные JavaScript плагины без jQuery</h2>
    <p class="lead fw-normal">
      Добавляйте переключаемые скрытые элементы, модальные окна и offcanvas меню, всплывающие подсказки и многое другое — все без jQuery. JavaScript Bootstrap ориентирован на HTML, что означает, что большинство плагинов добавляются с помощью атрибутов <code>data</code> в вашем HTML. Нужно больше контроля? Подключайте отдельные плагины программно.
    </p>
    <p class="d-flex justify-content-start lead fw-normal mb-md-0">
      <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/javascript/" class="icon-link fw-semibold">
        Узнать больше о JavaScript Bootstrap
        <svg class="bi"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
    </p>
  </div>
  <div class="row gx-md-5">
    <div class="col-lg-6 mb-3">
      <h3 class="fw-semibold">API атрибутов данных</h3>
      <p>Зачем писать больше JavaScript, когда можно писать HTML? Почти все JavaScript плагины Bootstrap имеют первоклассный API данных, позволяющий использовать JavaScript просто добавляя атрибуты <code>data</code>.</p>
      <div class="p-4 mb-3 border rounded-3">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Выпадающий список
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Элемент списка</button></li>
            <li><button class="dropdown-item" type="button">Элемент списка</button></li>
            <li><button class="dropdown-item" type="button">Элемент списка</button></li>
          </ul>
        </div>
      </div>

      {{ highlight (printf `<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
  Выпадающий список
</button>
<ul class="dropdown-menu">
  <li><button class="dropdown-item" type="button">Элемент списка</button></li>
  <li><button class="dropdown-item" type="button">Элемент списка</button></li>
  <li><button class="dropdown-item" type="button">Элемент списка</button></li>
</ul>
</div>
`) "html" "" }}
      <p>Узнайте больше о <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/javascript/#using-bootstrap-as-a-module">нашем JavaScript как модулях</a> и <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/javascript/#programmatic-api">использовании программного API</a>.</p>
    </div>
    <div class="col-lg-6 mb-3">
      <h3 class="fw-semibold">Комплексный набор плагинов</h3>
      <p>Bootstrap включает дюжину плагинов, которые вы можете добавить в любой проект. Подключите их все сразу или выберите только те, которые вам нужны.</p>
      <hr class="my-4">
      <div class="row g-3">
        {{- range $plugin := .Site.Data.plugins -}}
          {{- $href := printf "/docs/%s/%s" $.Site.Params.docs_version $plugin.link }}
          <div class="col-sm-6 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="{{ $href }}">
              <h4 class="mb-0 fs-5 fw-semibold">{{ $plugin.name }}</h4>
              <small class="text-muted">{{ $plugin.description }}</small>
            </a>
          </div>
        {{- end }}
      </div>
    </div>
  </div>

</section>
