<section class="row g-3 g-md-5 pb-md-5 mb-5 align-items-center">
  <div class="col-lg-6">
    <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bd-violet-rgb);">
      {{ partial "icons/droplet-fill.svg" (dict "width" "32" "height" "32") }}
    </div>
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Сделайте это своим с официальными Темами Bootstrap</h2>
    <p class="lead fw-normal">
      Поднимите Bootstrap на новый уровень с премиальными темами с <a href="{{ .Site.Params.themes }}">официального маркетплейса Bootstrap Themes</a>. Темы создаются на Bootstrap как собственные расширенные фреймворки, богатые новыми компонентами и плагинами, документацией и мощными инструментами сборки.
    </p>
    <p class="d-flex justify-content-start lead fw-normal mb-md-0">
      <a href="{{ .Site.Params.themes }}" class="icon-link icon-link-hover fw-semibold">
        Обзор Bootstrap Themes
        <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
      </a>
    </p>
  </div>
  <div class="col-lg-6">
      <img class="img-fluid mt-3 mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-themes.png,
                                                  /docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-themes@2x.png 2x"
                                          src="/docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-themes.png"
                                          alt="Bootstrap Themes" width="700" height="500" loading="lazy">
  </div>
</section>
