<details>
  <summary class="text-primary mb-3">Показать компоненты, требующие JavaScript</summary>
  <ul>
    <li>Alerts (Уведомления) для отклонения</li>
    <li>Buttons (Кнопки) для переключения состояний и функционала флажка/радио</li>
    <li>Carousel (Карусель) для любого поведения слайдов, элементов управления и индикаторов</li>
    <li>Collapse (Сворачиваемое) для переключения видимости содержимого</li>
    <li>Dropdowns (Выпадающие списки) для отображения и позиционирования (также требуется <a href="https://popper.js.org/">Popper.js</a>)</li>
    <li>Modals (Модальные окна) для отображения, позиционирования и прокрутки</li>
    <li>Navbar (Панель навигации) для расширения нашего плагина Сворачиваемое для реализации адаптивного поведения</li>
    <li>Toasts (Тосты) для показа и отклонения</li>
    <li>Tooltips (Всплывающие подсказки) и popovers (всплывающие окна) для отображения и позиционирования (также требуется <a href="https://popper.js.org/">Popper.js</a>)</li>
    <li>Scrollspy (Отслеживание прокрутки) для поведения прокрутки и обновлений навигации</li>
  </ul>
</details>
