<hr class="my-5">
<div class="container">
  <div class="text-center">
    <div class="masthead-followup-icon d-inline-block mb-2 text-bg-danger">
      {{ partial "icons/droplet-fill.svg" (dict "width" "32" "height" "32") }}
    </div>
    <h2 class="display-6 fw-normal">Двигайтесь дальше с темами Bootstrap</h2>
    <p class="col-md-10 col-lg-8 mx-auto lead">
      Нужно что-то большее, чем эти примеры? Выведите Bootstrap на новый уровень с помощью премиум-тем из <a href="{{ .Site.Params.themes }}">официального магазина тем Bootstrap</a>. Они созданы как собственные расширенные фреймворки, богатые новыми компонентами и плагинами, документацией и мощными инструментами сборки.
    </p>
    <a href="{{ .Site.Params.themes }}" class="btn btn-lg btn-outline-primary mb-3">Просмотреть темы</a>
  </div>
  {{ partial "responsive-img" (dict "context" .
    "imgPath" "/assets/img/bootstrap-themes-collage.png"
    "alt" "Bootstrap Themes"
    "classes" "d-block mt-3") }}
</div>
