{{- /* Usage: js-dismiss "ComponentName" */ -}}

{{- $name := .Get 0 -}}

Отклонение может быть достигнуто с помощью атрибута `data` на кнопке **внутри {{ $name }}**, как показано ниже:

```html
<button type="button" class="btn-close" data-bs-dismiss="{{ $name }}" aria-label="Close"></button>
```

или на кнопке **за пределами {{ $name }}** с помощью `data-bs-target`, как показано ниже:

```html
<button type="button" class="btn-close" data-bs-dismiss="{{ $name }}" data-bs-target="#my-{{ $name }}" aria-label="Close"></button>
```
